{% extends "lab/base.html" %}
{% block content %}
    <div class="container mx-auto px-5 ">
        <h1 class="text-2xl font-bold text-rose-900 py-5">Books</h1>
        <div class="grid grid-cols-1 md:grid-cols-3 lg:md:grid-cols-4 sm:grid-cols-2 gap-10">
            {% for book in books %}
                <a href="{% url 'book_detail' book.id %}"
                   class="group flex flex-col bg-white border-2 border-stone-300 rounded-sm shadow-lg shadow-stone-200 hover:shadow-xl">
                    <div class="relative border-b border-stone-300 self-stretch overflow-hidden h-48  bg-rose-50 flex items-center justify-center shrink-0 grow-0">
                        <img src="media/{{ book.cover }}" class="w-full h" alt="{{ book.title }}" />
                        <div class="group-hover:opacity-50 opacity-0 absolute inset-0 h-full w-full bg-stone-300/40"></div>
                    </div>
                    <div class="pb-3 grow flex flex-col px-3 pt-2 gap-2">
                        <strong class="text-stone-500 [font-size:_clamp(1.6em,2vw,2em)] tracking-tighter leading-8">{{ book.title | truncatechars:25 }}</strong>
                        <p class="grow text-stone-400 font-semibold text-sm line-clamp-2 md:line-clamp-3">
                            {{ book.summary | truncatechars:120 }}
                        </p>
                        <p class="bg-rose-100 self-start text-xs py-1 px-2 border-rose-300 border">{{ book.category }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
